.DS_Store
.ipynb_checkpoints/
bsub_logs/
logs/
*.gz
*.mtx
cluster.json
run_snakemake.sh
submit_snake.sh
_STARtmp/
macs2_pk/
*.bam
*.bai
*.tbi
Log.final.out
Log.out
Log.progress.out
SJ.out.tab
genome.sizes
*.tsv
*.bed
coverage_plot/
*.out
*.err
qc_figures/
.snakemake/
*.h5
cloupe.cloupe
peak_annotation.tsv
SC_ATAC_COUNTER_CS
SC_ATAC_AGGREGATOR_CS
tagdir/
*.tar
analysis/
_versions
_cmdline
_filelist
_finalstate
_invocation
_jobmode
_log
_mrosource
_perf
_sitecheck
_tags
_timestamp
_uuid
_vdrkill
_versions
cellranger-atac_results.mri.tgz
